.container {
  display: flexbox;
  flex-direction: column;
  width: 631px;
  padding: 44px 80px;
  justify-content: center;
  align-items: center;
  gap: 100px;
  border-radius: 10px;
  background: #f7f7f7;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.badge {
  display: flex;
  padding: 12px 18px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: #f2f4f7;
  mix-blend-mode: multiply;
}
